

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*.menu{ background-color: #050505; height: 40px;}*/
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.logindiv{ position: absolute; top: 40%; width: 100%;}
.logo {  position: absolute; top: 10%; width: 100%;}
.white { color:#fff; text-align: center; font-size: 18px; padding-top: 20px;}
.paddingtop20 { padding-top: 20px;}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
 background-color: #0af9ff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;

}

code {
  font-size: 80%;
}

.custominput {
border-width: 0px 0px 1px;
border-style: none none none;
border-color: -moz-use-text-color -moz-use-text-color #f5f6f2;
background: none repeat scroll 0% 0% transparent;
width: 100%;
padding-left: 8px;
padding-right: 8px;
color: #000;
line-height: 30px;
height: 35px;
text-align: center;
font-size: 2em;
}


input[type=radio] {
    display:none;
}
 
input[type=radio] + label {
    display:inline-block;
    height: 100%
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
   
}
 
input[type=radio]:checked + label {
     background-image: none;  
     outline: 0;
    opacity: 1;
}

input[type=radio] + label {
    background-image: none;   
    outline: 0;
     opacity: .5;   
}


  .errorvalidation { border-color: #red; border-width: 1px; border-style: solid;}
  .gap20 { height: 20px;}


/*// sree*/

.signup{
background-color: white;
}
.button {
  width:100%;
}
.footereffect
{
   background-color: #50c7f4; 
}
.footer:before, .fotter:after
{
  content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 

.footer:after
{
  right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

.nocolour {
  background-color:none !important;
}

label {
  height: 100px;
  padding-top: 15% !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

/*// sree*/


/*kali css files*/


#map_wrapper {
   
}

#map_canvas {
    width: 100%;
    height: 100%;
   /* top: 45px;
    float: left;*/
}
.info_content { color: #000;}

.frmlocation { margin-top: 65px;}
.bar1 { padding: 0px !important; min-height: 50px;}
.container-3{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}



/*kali css files end*/

.dashcontent {z-index: 3;
   width: 100%;
   height: auto;
  /* For IE8 and earlier */
 }
 .container1 {
  position: absolute; background-color: transparent; z-index: 99; background: rgba(255,255,255,.1);

}
.gap10{ height: 10px;}

/*kali css files end*/


