<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.5.0" />
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="true" />

        <name>Park It</name>

        <description>
        Car Parking App
        </description>

        <author href="http://yoursite.com" email="you@youremail.com">
        Park It
        </author>
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
<gap:plugin name="com.telerik.plugins.nativepagetransitions" version="0.1.1" />
<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
<icon src="icon.png" />

    </widget>
